# Set

In [45]:
set1 = {1, 2, 2, 3, 3}
print(set1)    # will ignore duplicates

{1, 2, 3}

In [3]:
list1 = list(range(20, 30))
list1.extend(list(range(25, 35)))
print(list1)

list1 = set(list1)    # remove duplicates using set (enclosed by {})
list1 = list(list1)   # convert set back to list (enclosed by ())

print(list1)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
[32, 33, 34, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [47]:
set1 = set(range(20, 30))
set2 = set(range(25, 35))

print(set1)
print(set2)

{20, 21, 22, 23, 24, 25, 26, 27, 28, 29}
{32, 33, 34, 25, 26, 27, 28, 29, 30, 31}

In [48]:
print(set1 | set2)    # set union

{20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34}

In [49]:
print(set1 & set2)     # set intersection

{25, 26, 27, 28, 29}

In [50]:
print(set1 - set2)   # set 1 with items not present in set 2

{20, 21, 22, 23, 24}

In [51]:
print(set1 ^ set2)   # set union - set intersection

{32, 33, 34, 20, 21, 22, 23, 24, 30, 31}

In [52]:
var1, var2, var3 = 4, 5, 6
print(var1, var2, var3)

4 5 6

In [53]:
tuple1 = (4, 5, 6)
# ideal to return a tuple from a function
var3, var4, var5 = tuple1
print(var3, var4, var5)

4 5 6